@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Cor1111111e</a>.</p>
    <canvas id="myCanvas"--> @*width="300" height="150"*@ <!--style="border:1px solid #d3d3d3;">
        Your browser does not support the HTML5 canvas tag.11111
    </canvas>

</div>-->
<div>
    <canvas id="myCanvas" @*width="300" height="150"*@ style="border:1px solid #d3d3d3;">
        Your browser does not support the HTML5 canvas tag.11111
    </canvas>
</div>


<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    //ctx.beginPath();
    //ctx.rect(20, 20, 150, 100);
    //ctx.stroke();

    //point(36, 88, ctx);
    //point(174, 93, ctx);
    //point(173, 114, ctx);


    point(0,0, ctx);
    point(100,0, ctx);
    point(36, 114, ctx);
    point(148, 116, ctx);


    point(148, 138, ctx);
    point(36, 136, ctx);


    //drawLine({ x=36, y=88 }, { x=36, y=88 }, canvas);
    //drawLineManuel(36,88,174,93, ctx);
    //drawLineManuel(173, 114, 24, 109, ctx);


    drawLineManuel(36, 114, 148, 116, ctx);
    drawLineManuel(148,138,36,136, ctx);

    drawLineManuel(165,120,221,121, ctx);
    drawLineManuel(221, 139, 165, 138, ctx);

    function point(x, y, canvas) {
        canvas.beginPath();
        canvas.moveTo(x, y);
        canvas.lineTo(x + 1, y + 1);
        canvas.stroke();
    }
    //function drawLine(point1: Vector, point2: Vector,canvas) {
    //    canvas.beginPath();
    //    canvas.moveTo(point1.x, point1.y);
    //    canvas.lineTo(point2.x, point2.y)
    //    canvas.stroke();
    //}
    function drawLineManuel(x1,y1,x2,y2, canvas) {
        canvas.beginPath();
        canvas.moveTo(x1, y1);
        canvas.lineTo(x2, y2)
        canvas.stroke();
    }
</script> 